# Configuration file

enabled {
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"astralsorcery:blockblackmarble"=true
    B:"astralsorcery:blockmarble"=true
    B:"bewitchment:coquina_bricks"=true
    B:"bewitchment:cypress_planks"=true
    B:"bewitchment:dragons_blood_planks"=true
    B:"bewitchment:elder_planks"=true
    B:"bewitchment:juniper_planks"=true
    B:"bewitchment:scorned_bricks"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypedark"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"earthworks:block_slate_slab"=true
    B:"earthworks:block_slate_slab_green"=true
    B:"earthworks:block_slate_slab_purple"=true
    B:"quark:biome_cobblestone"=true
    B:"quark:biotite_block"=true
    B:"quark:duskbound_block"=true
    B:"quark:elder_prismarine"=true
    B:"quark:midori_block"=true
    B:"quark:soul_sandstone"=true
    B:"quark:stained_planks"=true
    B:"quark:world_stone_bricks"=true
    B:"roots:runestone_brick"=true
    B:"roots:wildwood_planks"=true
    B:"rustic:painted_wood_black"=true
    B:"rustic:painted_wood_blue"=true
    B:"rustic:painted_wood_brown"=true
    B:"rustic:painted_wood_cyan"=true
    B:"rustic:painted_wood_gray"=true
    B:"rustic:painted_wood_green"=true
    B:"rustic:painted_wood_light_blue"=true
    B:"rustic:painted_wood_lime"=true
    B:"rustic:painted_wood_magenta"=true
    B:"rustic:painted_wood_orange"=true
    B:"rustic:painted_wood_pink"=true
    B:"rustic:painted_wood_purple"=true
    B:"rustic:painted_wood_red"=true
    B:"rustic:painted_wood_silver"=true
    B:"rustic:painted_wood_white"=true
    B:"rustic:painted_wood_yellow"=true
    B:"rustic:planks"=true
    B:"rustic:slate_brick"=true
    B:"thaumcraft:plank_greatwood"=true
    B:"thaumcraft:plank_silverwood"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


