# Configuration file

general {
    # Number of ticks between evaluating compost bin contents - lower increases CPU expense
    # Min: 1
    # Max: 2147483647
    I:"Compost bin ticks between evaluation"=40

    # The item that the compost bin generates
    S:"Compost item"=composter:compost

    # The probability that compost will succeed relative to bonemeal.
    # Min: 0.0
    # Max: 1.0
    D:"Compost strength"=0.5

    # The number of compost units needed to make one compost output
    # Min: 1
    # Max: 2147483647
    I:"Decomposed units needed"=1000

    # Compost triggers plant growth like bonemeal.
    B:"Enable compost bonemeal"=true

    ##########################################################################################################
    # items
    #--------------------------------------------------------------------------------------------------------#
    # Set compost unit amounts for items.
    ##########################################################################################################

    items {

        ##########################################################################################################
        # compost amount
        #--------------------------------------------------------------------------------------------------------#
        # Compost unit amount, -1 means item doesn't compost
        ##########################################################################################################

        "compost amount" {
            I:"agricraft:agri_seed"=50
            I:allTallFlowers=50
            I:"atlcraft:atlcraft_bayberry_seeds"=50
            I:"biomesoplenty:flower_0"=50
            I:"biomesoplenty:mushroom"=100
            I:"biomesoplenty:plant_0"=50
            I:"biomesoplenty:plant_1"=50
            I:blockCactus=125
            I:blockSlime=125
            I:bone=125
            I:"botania:flower"=100
            I:"botania:grassseeds"=125
            I:"botania:petal"=50
            I:chaffWheat=125
            I:chestWood=125
            I:compostable=100
            I:"composter:compost"=1000
            I:"composter:compost_bin"=125
            I:cropCarrot=125
            I:cropNetherWart=125
            I:"betternether:wart_seed"=125
            I:cropPotato=125
            I:cropRice=125
            I:cropTea=125
            I:cropWheat=125
            I:dustWood=30
            I:dye=125
            I:egg=125
            I:feather=125
            I:fenceGateWood=125
            I:fenceWood=125
            I:listAllveggie=125
            I:"betternether:egg_plant"=125
            I:"foodfunk:biodegradable_item"=100
            I:"foodfunk:rotten_food"=100
            I:"foodfunk:spoiled_milk"=100
            I:"gardenstuff:candelilla_seeds"=50
            I:grass=50
            I:"betternether:nether_grass"=50
            I:"betternether:agave"=50
            I:gunpowder=125
            I:"hatchery:chicken_feed"=50
            I:"hatchery:chickenmanure"=50
            I:leather=125
            I:listAllEgg=50
            I:listAllegg=125
            I:listAllflower=75
            I:listAllmelon=150
            I:listAllmushroom=100
            I:"betternether:orange_mushroom"=100
            I:"betternether:lucis_spore"=100
            I:"betternether:red_mold"=100
            I:"betternether:gray_mold"=100
            I:"betternether:bone_mushroom"=125
            I:listAllseed=50
            I:logWood=125
            I:materialHoneycomb=50
            I:materialWaxcomb=50
            I:"minecraft:arrow"=125
            I:"minecraft:double_plant"=50
            I:"minecraft:feather"=50
            I:"minecraft:food"=125
            I:"minecraft:melon_block"=600
            I:"minecraft:pumpkin"=300
            I:"minecraft:rotten_flesh"=100
            I:"minecraft:tallgrass"=50
            I:"minecraft:wooden_axe"=125
            I:"minecraft:wooden_button"=125
            I:"minecraft:wooden_door"=125
            I:"minecraft:wooden_hoe"=125
            I:"minecraft:wooden_pickaxe"=125
            I:"minecraft:wooden_pressure_plate"=125
            I:"minecraft:wooden_shovel"=125
            I:"minecraft:wooden_spade"=125
            I:"minecraft:wooden_sword"=125
            I:"minecraft:wool"=75
            I:paper=75
            I:plankWood=125
            I:"roots:terra_spores"=1000
            I:rootsBark=50
            I:slabWood=125
            I:slimeball=125
            I:"minecraft:magma_cream"=125
            I:stairWood=125
            I:stickWood=125
            I:string=50
            I:sugarcane=125
            I:"teastory:item_xian_rice_seedling"=125
            I:torch=75
            I:treeLeaves=125
            I:treeSapling=125
            I:vine=125
            I:wildroot=125
            I:workbench=125
            I:"betternether:block_eyeball_small"=125
            I:"betternether:eye_seed"=50

        }

    }

    ##########################################################################################################
    # composters
    #--------------------------------------------------------------------------------------------------------#
    # Things that can compost the items.
    ##########################################################################################################

    composters {

        ##########################################################################################################
        # compost speed
        #--------------------------------------------------------------------------------------------------------#
        # Speed of composting, 100 is normal speed, 0 means doesn't compost
        ##########################################################################################################

        "compost speed" {
            I:"composter:compost_bin"=100
        }

    }

    ##########################################################################################################
    # debugging
    #--------------------------------------------------------------------------------------------------------#
    # Debugging options
    ##########################################################################################################

    debugging {
        # Enable debug features on this menu, display extra debug info.
        B:"Debug mode"=false
    }

}


